@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --theme-color: #27D17F;
  --max-width: 1440px;
  --glo-padding-lg: 112px;
  --glo-padding-md: 50px;
  --glo-padding-sm: 16px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer !important;
}

/* -------- Scroll CSS Start -------- */

/* ::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #27D17F;
} */
/* -------- Scroll CSS End -------- */

/* -------- Loading Effect Start  -------- */
.lds-spinner {
  /* change color here */
  color: var(--theme-color);
}
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: var(--theme-color);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: var(--theme-color);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* -------- Loading Effect End -------- */


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

tr, th, td {
  color: #ABAFB4;
}

.Toastify__toast {
  background-color: #080A0B;
  color: #ABAFB4;
  border: 1px solid var(--theme-color);
}

.Toastify__toast button {
  color: white;
}

@layer utilities {
  .container {
    max-width: var(--max-width);
    padding-left: var(--glo-padding-lg);
    padding-right: var(--glo-padding-lg);
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  @media screen and (max-width: 1280px) {
    .container {
      padding-left: var(--glo-padding-md);
      padding-right: var(--glo-padding-md);
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      padding-left: var(--glo-padding-sm);
      padding-right: var(--glo-padding-sm);
    }
  }

  .logo {
    padding: 4px 41px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(39, 209, 127, 0.1);
  }
  .link {
    padding: 9.5px 12px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
  }
}
